<h1>Hola desde el login</h1>


<mat-nav-list>
  <a mat-list-item routerLink="/home">
    <mat-icon mat-list-icon>person</mat-icon>
    <h4 mat-line >Home</h4>
  </a>
</mat-nav-list>

<form [formGroup]="loginForm">
  <mat-form-field class="example-full-width">
    <mat-label>Email</mat-label>
    <input type="text" matInput formControlName="email">
    <!-- <mat-hint>Errors appear instantly!</mat-hint>
    <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
      Please enter a valid email address
    </mat-error>
    <mat-error *ngIf="emailFormControl.hasError('required')">
      Email is <strong>required</strong>
    </mat-error> -->
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <mat-label>Password</mat-label>
    <input type="text" matInput formControlName="password">
    <!-- <mat-hint>Errors appear instantly!</mat-hint>
    <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
      Please enter a valid email address
    </mat-error>
    <mat-error *ngIf="emailFormControl.hasError('required')">
      Email is <strong>required</strong>
    </mat-error> -->
  </mat-form-field>

  <button mat-raised-button (click)="handleLogin()">Ingresar</button>
</form>
