
<form [formGroup]="loginForm" class="login-form">
  <mat-form-field class="example-full-width">
    <mat-label>Email</mat-label>
    <input type="text" matInput formControlName="email">
    <!-- <mat-hint>Errors appear instantly!</mat-hint>
    <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
      Please enter a valid email address
    </mat-error>
    <mat-error *ngIf="emailFormControl.hasError('required')">
      Email is <strong>required</strong>
    </mat-error> -->
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <mat-label>Password</mat-label>
    <input [type]="showPassword ? 'text' : 'password'" matInput formControlName="password">
    <mat-icon matSuffix (click)="showPassword = !showPassword">
      {{ showPassword ? 'visibility' : 'visibility_off'}}
    </mat-icon>

    <!-- <mat-hint>Errors appear instantly!</mat-hint>
    <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
      Please enter a valid email address
    </mat-error>
    <mat-error *ngIf="emailFormControl.hasError('required')">
      Email is <strong>required</strong>
    </mat-error> -->
  </mat-form-field>

  <button mat-raised-button (click)="handleLogin()">Ingresar</button>
  <button mat-raised-button (click)="goToSignup()">No tienes una cuenta?</button>
  <!-- <button mat-raised-button (click)="protected()">proteger</button> -->
</form>
